@import "tailwindcss/preflight";
@import "@fontsource/orbitron/600.css";

:root {
  font-family: "Orbitron" , sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

:root:has(.no-doc-scroll) {
  overflow:hidden !important;
}

#root { 
  width: 100%;
  background-color: #242424 !important;
  
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #00101d !important;
    background-color: #000000 !important;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.hex {
  clip-path: polygon(
    25% 0%, 75% 0%,
    100% 50%,
    75% 100%, 25% 100%,
    0% 50%
  );
}

@layer components {
  .menu-link {
    position: relative;
    color: #ffffff !important;
    font-size: 1.125rem; /* text-lg */
    transition: color 0.3s ease-in-out;  
  }

  .menu-link::after {
    content: '';
    display: block;
    height: 2px; /* thin underline */
    background-color: #b91c1c; /* Tailwind red-700 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .menu-link:hover::after {
    transform: scaleX(1) 
  }
}